record-server-wsdl/src/main/resources/wadl/recordsure/recordserver.wadl

<application xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns="v1.recordserver.navid.com">
    <grammars>
        <xs:complexType name="getRecordResponse">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="payload" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getMapRecordsResponse">
                <xs:sequence>
                    <xs:element name="rankingEntry" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:string"/>
                                <xs:element name="position" type="xs:int"/>
                                <xs:element name="time" type="xs:float"/>
                                <xs:element name="username" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addRecordRequest">
                <xs:sequence>
                    <xs:element name="payload" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addRecordResponse">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="position" type="xs:int"/>
                    <xs:element name="status" type="xs:string"/>
                    <xs:element name="verified" type="xs:boolean"/>
                    <xs:element name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
    </grammars>
    <resources base="http://localhost:8080/">
        <resource path="/ranking">
            <resource path="/user/{user}"> 
                <param name="user" style="template" type="xs:string" />
                <method name="GET">
                    <response>
                        <representation mediaType="application/json" element="ns:getMapRecordsResponse"/>
                    </response>
                </method>
            </resource>
            <resource path="/maps/{map}"> 
                <param name="map" style="template" type="xs:string" />
                <method name="GET">
                    <response>
                        <representation mediaType="application/json" element="ns:getMapRecordsResponse"/>
                    </response>
                </method>
            </resource>
            <resource path="/id/{id}"> 
                <param name="id" style="template" type="xs:string" />
                <method name="GET">
                    <response>
                        <representation mediaType="application/json" element="ns:getRecordResponse"/>
                    </response>
                </method>
            </resource>
            <method name="POST">
                <request>
                    <representation mediaType="application/json" element="ns:addRecordRequest"/>
                </request>
                <response>
                    <representation mediaType="application/json" element="ns:addRecordResponse"/>
                </response>
            </method>
        </resource>
    </resources>
</application>